<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="con" connectionString="Data Source=cmdlhrlt976 ;Initial Catalog=mentalmath ;Integrated Security=true"
      providerName="System.Data.SqlClient" />
    <add name="Mental_MathConnectionString" connectionString="Data Source=cmdlhrlt976;Initial Catalog=Mental_Math;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="con2" connectionString="Data Source=CMDLHRLT974;Initial Catalog=MentalMathProject;Integrated Security=True" 
    providerName="System.Data.SqlClient"/>
	  <add name="Appdb" connectionString="Data Source=DESKTOP-F3KVG3E\SQLEXPRESS01;Initial Catalog=MentalMathProjectDatabase;Integrated Security=True"
	  providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
</configuration>